<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Pi Security System</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/opensans.css" type='text/css'>
        <link rel="stylesheet" href="css/app.css" />
        <link rel="stylesheet" href="css/angular-material.min.css">
  </head>

  <body layout="row" ng-controller="BaseController">

    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-hue-2">
        <span flex></span>
        <div layout="row" layout-align="start center">
          <md-icon class="md-avatar" md-svg-icon="avatars:svg-1"></md-icon>
          <span flex></span>
        </div>
        <span flex></span>
        <div class="md-body-1">{{loggedInUser.user_name}}</div>
      </md-toolbar>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="item in menu" ng-click="navigateAction(item.route)" role="link" md-ink-ripple>
          <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
          <div class="md-list-item-text">
            <span class="md-body-2">{{item.title}}</span>
          </div>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <div layout="column" class="relative" layout-fill role="main">
      <md-toolbar class="animate-show md-tall md-whiteframe-z1" ng-show="!showSearch">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-lg aria-label="Menu">
            <md-icon md-svg-icon="navigation:ic_menu_24px" aria-label="Menu"></md-icon>
          </md-button>
          <h3>
            Home Pi Security System
          </h3>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Logout" ng-click="logout()">
            <md-icon md-svg-icon="navigation:ic_more_vert_24px" aria-label="More"></md-icon>
          </md-button>
        </div>
        <span flex></span>
        <!-- <div ng-if="showTabs"> -->
          <md-tabs md-stretch-tabs="always" md-selected="data.selectedIndex">
            <md-tab id="tab1" ng-if="showTabs" aria-controls="tab1-content">
              Status
            </md-tab>
            <md-tab id="tab2" ng-if="showTabs" aria-controls="tab2-content">
              Details
            </md-tab>
          </md-tabs>
        <!-- </div> -->
      </md-toolbar>
      <md-toolbar ng-show="showSearch" class="animate-show md-hue-1 md-whiteframe-z1">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleSearch()" aria-label="Menu">
            <md-icon md-svg-icon="navigation:ic_arrow_back_24px" aria-label="Back"></md-icon>
          </md-button>
          <h3 role="button" ng-click="toggleSearch()">
            Back
          </h3>
          <span flex="5"></span>
        </div>
      </md-toolbar>
      <div id="view" class="ng-view"></div>
    </div>

    <!-- Angular Dependencies -->
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/angular-material.min.js"></script>    
    <!-- App Script Files -->
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
