<md-dialog aria-label="Modify Schedule">
  <form>
  <md-dialog-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect">Current Schedule</md-subheader>
    <div>
      <input name="appId" class="form-control" ng-model="targetSchedule.app_module_id" type="text" placeholder="app id" required>
      <input name="startDay" class="form-control" ng-model="targetSchedule.start_day" type="text" placeholder="start day" required>
      <input name="startHour" class="form-control" ng-model="targetSchedule.start_hour" type="text" placeholder="start hour" required>
      <input name="startMinute" class="form-control" ng-model="targetSchedule.start_minute" type="text" placeholder="start minute" required>
      <input name="endDay" class="form-control" ng-model="targetSchedule.end_day" type="text" placeholder="end day" required>
      <input name="endHour" class="form-control" ng-model="targetSchedule.end_hour" type="text" placeholder="end hour" required>
      <input name="endMinute" class="form-control" ng-model="targetSchedule.end_minute" type="text" placeholder="end minute" required>
      <input name="alertruleid" class="form-control" ng-model="targetSchedule.alert_rule_id" type="text" placeholder="alert rule" required>
      <input name="active" class="form-control" ng-model="targetSchedule.active" type="text" placeholder="active" required>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="answer('not useful')" class="md-primary">
     Cancel
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary">
      Save
    </md-button>
  </div>
  </form>
</md-dialog>