<div ng-controller="StateController as states">
  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Security System Status</span>
    </h2>
  </md-toolbar>
  <md-content>
    <md-list>
      <md-list-item class="md-3-line" layout="row" layout-align="center center" ng-repeat="state in states">
        <div layout="column" layout-align="center center">
          <div class="md-list-item-text">
            <h3>Current System Status: {{state.armedDisplay}}</h3>
            <h4>Last System Change Date: {{state.lastChangeDate | date: 'MM-dd-yyyy - h:mm a'}}</h4>
            <p ng-if="state.armed == 'arm-hold'">Armed based permanent hold.</p>
            <p ng-if="state.armed == 'arm-temp'">Armed temporarily.  Will reset upon next schedule.</p>
            <p ng-if="state.armed == 'arm-schedule'">Armed based on schedule: Schedule ID - {{state.active_schedule}}</p>
          </div>
          <div class="state-actions" layout="row" layout-align="center center">
            <md-button ng-if="state.armed != 'arm-temp'" class="md-primary md-raised" ng-click="setArmed(state,2)" flex flex-md="100">
              Arm Temp
            </md-button>
            <md-button ng-if="state.armed != 'not-armed'" class="md-primary md-raised" ng-click="setArmed(state,0)" flex flex-md="100">
              Disarm
            </md-button>
            <md-button ng-if="state.armed != 'arm-hold'" class="md-primary md-raised" ng-click="setArmed(state,1)" flex flex-md="100">
              Arm & Hold
            </md-button>
          </div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>